<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="DBDisk" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\STUDY\MSDBWFApp1\MSDBWFApp1\DBDisk.mdf;Integrated Security=True" />
  <add name="MSDBWFApp1.Properties.Settings.DBDiskConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DBDisk.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>